/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #C8C8C8;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


